.main-container {
  width: auto;
  margin: 2rem;
  padding: 2rem;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dialog {
  z-index: 1;
  pointer-events: all;
}

.calendar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.main-container-disabled {
  pointer-events: none;
}

.time-item-unavailable {
  opacity: 20%;
}

.time-item-available {
  cursor: pointer;
}